<!DOCTYPE html>
<html>
  <head>
    <title>2Win Playlist</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="main.css" title="text/css" />
  </head>

  <nav>
    <ul>
      <li >Shares</li>
      <li>Playlist</li>
      <li>Personal Videos</li>
    </ul>
    <ul class="right">
      <li class="font_40">2Win!</li>
    </ul>
  </nav><br>

  <body>
    <div>
      <img src="https://www.xtechstaffing.com/wp-content/uploads/2016/05/Sales-and-Marketing-800x500.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="https://i.pinimg.com/originals/70/9a/4e/709a4e93a38ff5e9af55e6fa9d8c6163.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="http://www.yorkshirebusinesscentre.co.uk/wp-content/uploads/2013/01/Daily-Desk-Space-Hire.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="http://cdn.playbuzz.com/cdn/a4ebb177-6588-451b-8462-b6a0ef740431/414f835a-f867-48f6-8790-8e2a98f7adb8.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="https://www.callcentrehelper.com/images/stories/2010/2014/06/back-office-person-510.gif" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="http://quickresponse.americanleakdetection.com/img/office-management-careers.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="https://www.usnews.com/dims4/USNEWS/e002559/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Ffb%2Fcd%2F082a8c4e48bb86b3577cc26b59ce%2F140916-panicattack-stock.jpg" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>
    <div>
      <img src="https://pilbox.themuse.com/image.jpg?fmt=jpeg&w=900&h=900&q=90&mode=clip&pos=center&url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fcompanies%2F1184%2Fimage_modules%2F10640%2Ff5dc9075-ea62-46db-b9d7-8a57de141cd3.jpg%3Fv%3D9be905d932958c56fa06167566b1281842e28ddf37b4fcd7e3927ede7a78bdfc" alt="">
      <p>Recipient Namehere</p>
      <p class="font_15">Monday 01/01/01 12:00pm(This would be a timestamp called via erb)</p>
      <div class="url_box">http://www.thisistotallyarealurl.com/totallyittotallyis</div>
      <p class="font_15">Playlist</p>
      <p>Name of Playlist</p>
      <p class="font_15">Attachments</p>
      <p>04(This would be an attachments count called via erb)</p>
    </div>

  </body>
</html>
